<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/dwira_logo.png" alt="logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Logement</a>
                <a class="nav-link" routerLink="/carte">Carte</a>
                <a class="nav-link" href="#Contact">Contact</a>
            </div>
        </div>
        
        <div class="Login">
            <span class="offset-md-2 fa fa-bars"></span>
            <div class="profile-image">
                <img src="{{GetProfilePhoto()}}">
            </div>
        </div>

    </div>
</nav>